@model GameStartModel
@{
    ViewData["Title"] = "PlayGame";
}




<div id="winnerContainer" class="hide">
    <div class="loadingContainer">
        <div class="windowCenter">
            <div class="hide" id="youLostText">
                <h1 class="text-center youLostText">You lost!</h1>
            </div>
            <div class="hide" id="youWonText">
                <h1 class="text-center youWonText">You won!</h1>
            </div>
        </div>
    </div>
</div>



<div id="infoPlayers" class="text-center">
    <h1 id="playerOne"></h1>
    <div class="playerVersus">vs</div>
    <h1 id="playerTwo"></h1>
</div>

<div id="turnContainerq">
    <div class="hide" id="playerTurn">
        <h2 class="text-center myTurnHeader">Your turn!</h2>
    </div>
    <div class="hide" id="opponentTurn">
        <h2 class="text-center opponentTurnHeader">Computer's turn!</h2>
    </div>

</div>
<div id="playGameContent">
    <div class="container-fluid row">
        <div class="unselectableItems col-lg">
            <h3 class="text-center">My battlefield</h3>
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        @for (int i = 0; i < 10; i++)
                        {
                            <th scope="col">@i</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 10; i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            @for (int j = 0; j < 10; j++)
                            {
                                <td px="@j" py="@i" class="tableCellPlayer"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg">
            <h3 class="text-center">Opponent's battlefield</h3>
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        @for (int i = 0; i < 10; i++)
                        {
                            <th scope="col">@i</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 10; i++)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            @for (int j = 0; j < 10; j++)
                            {
                                <td ox="@j" oy="@i" class="tableCell"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<form class="hide">
    <input type="hidden" asp-for="PlayerName" id="PlayerName">
    <input type="hidden" asp-for="SerializedBattleFieldArray" id="SerializedBFArray">
</form>

@section Scripts {

    <script src="~/js/CustomJs/playSingle.js"></script>
}
